*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
}

.gallery {
    margin-top: 24px;
    margin-left: 156px;
    margin-right: 156px;
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    transition: scale 250ms ease;
}

.gallery img:hover {
    scale: 1.05;
}